@model PresentationService.Models.AdminModels.CategoryModels.Items.CategoryIndexItemModel
@{
    Layout = null;
}
<tr class="@(ViewBag.isOddRow ? "odd" : "even")">
    <td onclick="javascript:location.href = '@Url.Action("Edit", "Category", new { id = Model.CategoryId })';" style="padding-left: @(ViewBag.leftPadding)px">@Model.CategoryName</td>
</tr>
@if(Model.Subcategories != null)
{
    foreach (var subCategory in Model.Subcategories)
    {
        @Html.DisplayFor(m => subCategory, new { isOddRow = !ViewBag.isOddRow, leftPadding = ViewBag.leftPadding + 15 })
    }
}