@model PresentationService.Models.AdminModels.CategoryModels.CategoryEditModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="section-title">
    <h1 class="title">Редактирование <span>категории</span></h1>
</div>

@{Html.BeginForm(Model.CategoryId == default(long) ? "Add" : "Edit", "Category");}
@Html.HiddenFor(m => m.CategoryId)
<div>
    <p><strong>@Html.LabelFor(m => m.ParentCategoryId)</strong> <em>(*)</em></p>
    @Html.DropDownListFor(m => m.ParentCategoryId, new SelectList(Model.ParentCategories, "CategoryId", "CategoryName"), "Нету категории")
    @Html.ValidationMessageFor(m => m.ParentCategoryId)
</div>

<div>
    <p><strong>@Html.LabelFor(m => m.CategoryName)</strong> <em>(*)</em></p>
    @Html.TextBoxFor(m => m.CategoryName)
    @Html.ValidationMessageFor(m => m.CategoryName)
</div>

<div>
    <p><strong>@Html.LabelFor(m => m.SeoURL)</strong> <em>(*)</em></p>
    @Html.TextBoxFor(m => m.SeoURL)
    @Html.ValidationMessageFor(m => m.SeoURL)
</div>

<p><strong>@Html.LabelFor(m => m.CategoryDescription)</strong></p>
@Html.TextAreaFor(m => m.CategoryDescription, new { @class = "ckeditor" })
<div>
    <a href="#" onclick="$('form').submit();" class="button medium grey">Сохранить</a>
    <a href="#" class="button medium grey">Удалить</a>
</div>
@{Html.EndForm();}