@model PresentationService.Models.AdminModels.ProductModels.ProductEditModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Head
{
    <script type="text/javascript" src="/Content/Scripts/admin/knockout-models/ProductEditModel.js"></script>
    <script type="text/javascript">
        var win;
        var model;
        setNewImage = function (imageUrl) {
            win.destroy();
            model.AddImage(imageUrl);
        };
        function OpenFileUploadPopUp() {
            win = $.Popup('frameDialog', { url: "@Url.Action("UploadImage")", title: "Загрузка изображения", width: 400, height: 300 });
        }
        $(function () {
            model = new ProductEditModel(@Html.Raw(Json.Encode(Model.Images)), '@Url.Action("DeleteImage")');
            ko.applyBindings(model);
        });
    </script>
}

<div class="section-title">
    <h1 class="title">Редактирование <span>продукта</span></h1>
</div>

@{Html.BeginForm(Model.ProductId == default(long) ? "Add" : "Edit", "Product");}
<div>
    <div>@Html.LabelFor(m => m.ProductName)</div>
    @Html.TextBoxFor(m => m.ProductName)
    @Html.ValidationMessageFor(m => m.ProductName)
</div>

<div>
    <div>@Html.LabelFor(m => m.CategoryId)</div>
    @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.AvailableCategories, "CategoryId", "CategoryName"), "Выбирете одно")
    @Html.ValidationMessageFor(m => m.CategoryId)
</div>

<div>
    <div>@Html.LabelFor(m => m.ProductDescription)</div>
    @Html.TextAreaFor(m => m.ProductDescription, new { @class = "ckeditor" })
    @Html.ValidationMessageFor(m => m.ProductDescription)
</div>

<div>
    <div>@Html.LabelFor(m => m.ProductPrice)</div>
    @Html.EditorFor(m => m.ProductPrice)
    @Html.ValidationMessageFor(m => m.ProductPrice)
</div>

<div>
    <div>@Html.LabelFor(m => m.IsUnlimitedProduct)</div>
    @Html.CheckBoxFor(m => m.IsUnlimitedProduct)
</div>

<div data-bind="foreach: Images" style="width: 100%; float: left;">
    <div style="float: left; width: 150px;">
        <div style="float: right;">
            <a href="#" data-bind="click: $parent.RemoveImage">Убрать</a>
        </div>
        <input type="hidden" data-bind="value: $data, attr: { name: 'Images['+$index()+']'}" />
        <img data-bind="attr: {src : $data}" style="width: 150px;"/>
    </div>
</div>

<div>
    <a href="#" onclick="OpenFileUploadPopUp();" class="button medium grey left-aligned">Добавить изображение</a>
    <a href="#" onclick="$('form').submit();" class="button medium grey">Сохранить</a>
</div>

@Html.HiddenFor(m => m.ProductId)

@{Html.EndForm();}