@model PresentationService.Models.UserModels.LogOnUserModel

@{
    ViewBag.Title = "ValidatePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Log On</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
        <p>
            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </p>

        <p>
            @Html.LabelFor(model => model.Password)
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </p>

        <p>
            <input type="submit" value="Log In" />
        </p>
}